In [1]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

In [2]:
employee_domain = [(employee['name'], company_detail_list[employee_detail_list[employee['name']]['company']]['domain']) for employee in employee_name_list]
print(employee_domain)

[('John Doe', 'Retail'), ('Tom Smith', 'Construction'), ('Andrew Sebastian', 'Construction')]

In [3]:
andrew_company_name = employee_detail_list['Andrew Sebastian']['company']
andrew_company_clients = [client['name'] for client in company_detail_list[andrew_company_name]['clients']]
print(andrew_company_clients)

['Tesla', 'Japan Airlines', 'Indofood']

In [5]:
healthcare_employees = [employee['name'] for employee in employee_name_list if employee_detail_list[employee['name']]['company'] == 'Company 3']
print(healthcare_employees)

[]

In [6]:
healthcare_employees = [employee['name'] for employee in employee_name_list if employee_detail_list[employee['name']]['company'] == 'Company 3']
print(healthcare_employees)

[]

In [7]:
all_clients = [client['name'] for company in company_detail_list.values() for client in company['clients']]
print(all_clients)

['acme.inc', 'Wayne.co', 'Tesla', 'Japan Airlines', 'Indofood', 'Petronas', 'VW Group', 'IBM', 'Mitsubishi']

In [8]:
all_companies = [{'name': company['name'], 'domain': company['domain']} for company in company_detail_list.values()]

In [9]:
Sorted_companies = sorted(all_companies, key=lambda x: x['domain'], reverse=True)

In [11]:
print(Sorted_companies)

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

In [12]:
def sort_company():
    # Mendapatkan daftar semua perusahaan
    all_companies = [{'name': company['name'], 'domain': company['domain']} for company in company_detail_list.values()]
    
    # Mengurutkan daftar perusahaan berdasarkan domain dalam urutan terbalik
    sorted_companies = sorted(all_companies, key=lambda x: x['domain'], reverse=True)
    
    return sorted_companies

In [13]:
print(sort_company())

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

In [15]:
def get_company_domain():
    for company_name, company_info in company_detail_list.items():
        domain = company_info['domain']
        num_clients = len(company_info['clients'])
        print(f"{company_name}: {domain}, relation: {num_clients} clients")
        
get_company_domain()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

In [16]:
def get_employees():
    employees_with_domain = []
    for employee_name, employee_info in employee_detail_list.items():
        full_name = employee_info['full_name']
        company_name = employee_info['company']
        domain = company_detail_list[company_name]['domain']
        employees_with_domain.append({
            'full_name': full_name,
            'company': company_name,
            'domain': domain
        })
    return employees_with_domain

print(get_employees())

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [17]:
def get_employees_by_company():
    companies_with_employees = []
    for company_name in company_detail_list.keys():
        employees_in_company = [employee_info['full_name'] for employee_info in employee_detail_list.values() if employee_info['company'] == company_name]
        companies_with_employees.append({
            'company': company_name,
            'employees': employees_in_company
        })
    return companies_with_employees

print(get_employees_by_company())

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]